node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack

# ignore the assets generated for pwa

public/apple-touch-icon-180x180.png
public/maskable-icon-512x512.png
public/pwa-64x64.png
public/pwa-192x192.png
public/pwa-512x512.png
public/favicon.ico

# Local Netlify folder
.netlify
